// Colors

// Main colors
$main-color: #00bc77 ;
$second-color :  #42b983;
$third-color :  #2c3e50;

// Neutral colors
$neutral-main-color: black ;
$neutral-second-color: #222;
$neutral-third-color: #ccc;
$neutral-fourth-color:  #fff;
$neutral-five-color: #d8d8d8;
$neutral-six-color: #777;
 
// Background color 
$background-color :  #12002b;

